<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>lifecounter.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>92ED2F3C2DB8BF2600410936</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>92ED2F522DB8BF2700410936</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>92ED2F5C2DB8BF2700410936</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
